
<div class="row col-sm-3 jumbotron" id="pub_page_form">
    <h2>Create a new pub</h2>
    <form method='post' action='/pub_login'>
        <div class='form-group'>
            <input id='name' name='name' type='text' class='form-control' placeholder='Pub name'>
        </div>
        <div class='form-group'>
            <input id='location' name='location' type='text' class='form-control' placeholder='Pub location'>
        </div>
        <div class='form-group'>
            <input id='link' name='link' type='text' class='form-control' placeholder='Pub link'>
        </div>
        <button type='submit' class='btn btn-default'>Add pub</button>
    </form>
</div>
