            </div>
            <div class="footer container">
                <div class="center row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-2">
                                <a href="/"><img class="icon" src="/img/logo.png"></a>
                            </div>
                            <div class="col-sm-4 tagline">
                                <p>I remember</p>
                                <p>my first beer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p>&#169; 2015 Tap That Industries</p>
                        <p>600 SW Street, Portland, OR 97221</p>
                    </div>
                    <div class="col-md-4 footer-icons">
                        <a href="#"><img class="social-icon" src="/img/facebook.png"></a>
                        <a href="#"><img class="social-icon" src="/img/twitter.png"></a>
                        <a href="#"><img class="social-icon" src="/img/github.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
