        <hr>
        <div class="footer">
            <div class="row">
                <div class="center col-md-4">
                    <h4>Contact Us</h4>
                    <p>600 SW Street</p>
                    <p>Portland, OR 97221</p>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    </body>
</html>
