        <hr>
        <div class="footer">
            <div class="center row">
                <div class="col-sm-6">
                    <h4>Contact Us</h4>
                    <p>600 SW Street</p>
                    <p>Portland, OR 97221</p>
                </div>
                <div class="col-sm-6"></div>
                    <h4>Social Media Links</h4>
                    <p>Facebook</p>
                    <p>Twitter</p>
            </div>
        </div>
    </div>
    </body>
</html>
