<html>
    <head>
        <link rel="shortcut icon" href="/img/logowithbackground.jpg">
        <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.css" type='text/css' media='all'>
        <link rel="stylesheet" href="/css/styles.css" type='text/css' media='all'>
        <!-- fonts -->
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300' rel='stylesheet' type='text/css'>
        <!-- endfonts -->
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="/js/autocomplete.js"></script>
        <title>tap That</title>
    </head>
    <body>
        <div class="background">

<!-- NAVBAR -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                 <!-- <a href="/"><img src="/img/home.png"></a> -->

            {% if logged_user is empty %}
                <a href="#"><img class="icon" src="/img/logo.png"></a>
                <div class="navbar-form nav navbar-nav navbar-right">
                    <a href="/signup"><button class="btn btn-default signup">Signup</button></a>
                </div>

                <form class="navbar-form navbar-right" method="post" action="/sign_in">
                    <div class="form-group">
                        <input id="username" name="username" type="text" class="form-control" placeholder="User email">
                    </div>
                    <div class="form-group">
                        <input id="password" name="password" type="password" class="form-control" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
                <div class="row">
                    <div class="col-sm-offset-8 col-sm-4">
                        <p class="pub-login"><a href="/pub_login">Pub owner? Login here</a></p>
                    </div>
                </div>

            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><Home</li>
                    <li><a href="/public_login/{{ logged_user.getId }}">Profile</a></li>
                    <li><a href="/logout">Logout from {{ logged_user.getEmail }}</a></li>
                </ul>
            {% endif %}
          </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
          </nav>

          <div class="container">
              {% if login_status is not empty %}
                  <div class="right">
                      <p>That username/password combination is not recognized, please try again!</p>
                  </div>
              {% endif %}
