{% embed "header.html.twig" %}
{% endembed %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-6">
        <div class="intro">
            <h1>Ay yo!</h1>
            <p>Want to know where to find a beer in your city?</p>
            <p>Want to know other things about beer and stuff?</p>
            <h3>You came to the right place.</h3>
        </div>
    </div>
</div>

<div class="jumbotron col-sm-8 col-sm-offset-4">
    <h2>Search taps</h2>
    <form action="/search_beers" autocomplete="off">
        <div class="input-group">
            <input name="beer" value="" type="text" class="form-control" placeholder="Search for a beer..." id="keyword">
            <div id="results">
            </div>
            <span class="input-group-btn">
                <button type="submit" class="btn left btn-warning">Search</button>
            </span>
        </div>
    </form>

    <div class="center">
        <div class="row">
            <div class="col-sm-4">
                <h3>Local Favorites</h3>
            </div>
            <div class="col-sm-4">
                <h3>Recently Tapped</h3>
            </div>
            <div class="col-sm-4">
                <h3>Rare Taps</h3>
            </div>
        </div>
    </div>
</div>

{% embed "footer.html.twig" %}
{% endembed %}
