.right {
    float:right;
}

.bottom {
    clear: both;
}

.center {
    text-align: center;

}

.list-unstyled {
    margin-top: 20px;
    text-align: right;
}

#autocomplete {
    background-color: white;
}
