.right {
    float:right;
}

.bottom {
    clear: both;
}

.center {
    text-align: center;

}

.list-unstyled {
    margin-top: 20px;
    text-align: right;
}

.input-group-btn {
    vertical-align: top;
}

.icon {
    height: 50px;
    width: 50px;
}

.social-icon {
    height: 30px;
    width: 30px;
}

.jumbotron {
    background-color: rgba(220,220,220,.50);
}


.container {
    background-image: url("/img/logowithback.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/*******************/
/*Autocomplete CSS*/
/*****************/
#autocomplete {
    background-color: white;
}
#keyword {
	width: 100%;
	font-size: 1em;
}

#results {
	width: 100%;
	display: absolute;
	border: 1px solid #c0c0c0;
    border-top: 0px;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    display: none;
}

#results .item {
	padding: 3px;
	font-family: Helvetica;
	border-bottom: 1px solid #c0c0c0;
}

#results .item:last-child {
	border-bottom: 0px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 1em;
}

#results .item:hover {
	background-color: #f2f2f2;
	cursor: pointer;
}

.jumbotron {
    min-height: 50%;
}

.table_beers{
    max-height: 250px;
    overflow-y: auto;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px;
    text-align: center;
}

.beers_table h2{
    text-align: center;
}

=======

/*******************/
/*Pub Profile Page*/
/*****************/

.pub-beer-list {
    list-style: none;
}

.delete-button {
    font-size: 8px;
}

.pub-beers {
    float: left;
    clear: both;
}

.pub-beer-delete {
    float: right;
}

/*in case we want to put search back on right*/
/*@media (max-width: 750px) {*/
    .beer-search {
        clear: both;
    }
/*}*/
