hr {
    margin: 5px;
}

body {
    background-color: rgb(253,250,236);
}

.right {
    float:right;
}

.left {
    float: left;
}

.bottom {
    clear: both;
}

.center {
    text-align: center;

}

.list-unstyled {
    margin-top: 20px;
    text-align: right;
}

.input-group-btn {
    vertical-align: top;
}

.icon {
    height: 50px;
    width: 50px;
}

.social-icon {
    height: 30px;
    width: 30px;
}

.jumbotron {
    background-color: rgba(255,242,198,1);
    max-height: 75%;
    box-shadow: 10px 10px 5px #888888;
}

.background {
    background-image: url("/img/logowithback.png");
    background-size: 400px 400px;
    background-repeat: no-repeat;
}

.intro {
    height: 200px;
    margin-bottom: 15px;
}

.navbar, .footer {
    background-color: rgba(249,163,74, .50)
}

.btn-default {
    background-color: rgb(249,163,74);
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.footer p {
    margin-bottom: 0;
}

/*******************/
/*Table styling CSS*/
/*****************/


.tbody {
    max-height: 250px;
    overflow-y: scroll;
}

.table {
    margin-bottom: 2px;
    table-layout: fixed;
}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px;
}

/*******************/
/*Autocomplete CSS*/
/*****************/
#autocomplete {
    background-color: white;
}
#keyword {
	width: 100%;
	font-size: 1em;
}

#results {
	width: 100%;
	display: absolute;
	border: 1px solid #c0c0c0;
    border-top: 0px;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    display: none;
}

#results .item {
	padding: 3px;
	font-family: Helvetica;
	border-bottom: 1px solid #c0c0c0;
}

#results .item:last-child {
	border-bottom: 0px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 1em;
}

#results .item:hover {
	background-color: #f2f2f2;
	cursor: pointer;
}

/*******************/
/*Pub Profile Page*/
/*****************/

.pub-beer-list {
    list-style: none;
}

.delete-button {
    font-size: 8px;
}

.pub-beers {
    float: left;
    clear: both;
}

.pub-beer-delete {
    float: right;
}

.beer-search {
    clear: both;
}


@media (max-width: 770px) {
    .intro {
        visibility: hidden;
        height: 0px;
    }
}
